*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li, a, button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    color: rgb(174, 174, 174);
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    background:rgba(21, 12, 75, 0.5);
}

.nav_link{
    list-style: none;
}
.nav_link li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_link li a{
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:  all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}
body{
    background-color: #333439;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.socials{
    list-style: none;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:1rem 0 3rem 0;
}
.socials li{
    margin:0 10px;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i {
    color:aqua;
}
.heroes{
	
}
.formu{
	
}
@media (max-width:500px){
    
}