*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*fondo*/
.bg {
  animation:slide 4s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #eba014 50%, #696969 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-2;
}
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:6s;
}
.bg3 {
  animation-duration:8s;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*Fuentes*/
@font-face {
  font-family: sportesia ;
  src: url(../fuente/Sportesia.otf) format("truetype");
}

/* Header */
canvas{
  margin-left:40%;
  width: 20%; 
}
/* nav */
.navegador{
  float:left;
	margin: auto;
	margin-bottom:0px;
	width: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: center;
}
ul li{
  list-style: none;
  margin-left: 40px;
  height: 12%;
  font-size: 28px;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: sportesia;
}
ul li a{
  color: rgb(255, 255, 255);
}
li ul{
  display: none;
}
li:hover > ul{
  display: block;
  position: absolute;
}
li button{
  background-color: #2a6934;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
li button:hover{
	background-color: #1f4e26;
  }
.tab {
  overflow: hidden;
}
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  background-color: #f1f1f1;
}
.tab button:hover {
  background-color: #ddd;
}
/* contenido */
.contenido{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgb(163, 163, 163) 0%, rgba(129,133,136,1) 25%, rgba(191,194,196,1) 63%, rgba(136,136,136,1) 92%);
    margin-left: 4cm;
    margin-right: 4cm;
    margin-top: 3.5cm;
    margin-bottom: 2cm;
    padding: 2cm;
    align-items:center;
	z-index:-1;
}
/* index*/
.container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
h1{
  color: rgb(20, 107, 189);
  font-size: 48px;
  font-family: sportesia;
}
/* info */
.heroes{
  margin: auto;
  margin-bottom:0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen{
  border-radius: 50%;
  border:6px solid #196c70; padding:5px;
  height: 170px;
}
.imagen:hover{
	height: 180px;
	width: 180px;
}
.Nombre{
  color: rgb(20, 107, 189);
  font-size: 20px;
  font-family: sportesia;
  text-align: center;
}
/* form */
.formulario{
  background:#3b944a;
  margin: 7px;
  padding: 25px 30px;
  align-items:center;
  border-radius: 5px;
}
h2{
  font-size: 32px;
  font-weight: 500;
  position: relative;
  font-family: sportesia;
  color: rgb(255, 255, 255);
  text-decoration:underline;
}
.detalles_usuario{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 12px 0;
}
.input-box{
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}
.input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #afacac;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
}
.detalles{
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  font-family: sportesia;
}
.boton{
  height: 45px;
  margin: 45px 0;
}
.boton input{
  height: 100%;
  width: 100%;
  font-size: 18px;
  outline:none;
  color: #fff;
  border: none;
  font-size: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #696969;
}
.boton input:hover{
  background: #252525;
}
.contenedor1 footer{
  left: 0;
  bottom:0;
  width: 100%;
  background-color: rgb(89, 167, 79);
  text-align: center;
  color: rgb(65, 63, 63);
}
/* footer */
.socials{
  float:left;
	margin: auto;
	margin-bottom:0px;
	width: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: baseline;
}
@media only screen and (max-width: 1007px){
	.contenido{margin: 2cm;
				padding: 2cm;}  
	canvas{
		margin-left:40%;
	} 
	video{
		margin: 0;
		margin-top: 20px;
		width: 360px;
		height: 240px;
	}
	h1{font-size: 24px;}
	ul li{
		list-style: none;
		margin-left: 20px;
		height: 20px;
		font-size: 18px;
	}
	ul li a{
		text-decoration: none;
		color: #fff;
		font-size: 18px;
	}
  .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .detalles_usuario{
    max-height: 300px;
    overflow-y:scroll;}
  .imagen{
	width:110px;
	height: 110px;
  }
  .Nombre{
	font-size: 12px;
  }
  .imagen:hover{
	height: 120px;
	width: 120px;
}

}

@media only screen and (max-width: 640px){
	.contenido{margin: 1cm;
				padding: 1cm;}  
	canvas{
		margin-left:40%; 
	} 
	video{
		margin-top: 20px;
		width: 360px;
		height: 240px;
		margin: 0;
	}
	h1{font-size: 16px;}
	ul li{
		list-style: none;
		margin-left: 20px;
		height: 12%;
		font-size: 12px;
	}
	ul li a{
		text-decoration: none;
		color: #fff;
		font-size: 12px;
	}
  .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .detalles_usuario{
    max-height: 300px;
    overflow-y:scroll;
  }
  .detalles_usuario::-webkit-scrollbar{
    width: 0;
  }
  .imagen{
	width:60px;
	height: 60px;
  }
  .Nombre{
	font-size: 8px;
  }
  .imagen:hover{
	height: 70px;
	width: 70px;
  }

}
